<div class="flex flex-row flex-nowrap md:gap-3 items-center justify-between">
  <div class="flex flex-wrap w-1/4 justify-start" *ngIf="!viewForm && !editMode">
    <img class="left-arrow clickable" src="../../../assets/icons/left-arrow.svg" [routerLink]="['/therapist']">
    <h1 class="header-text">{{ 'titles.addTherapist' | translate }}</h1>
  </div>
  <div class="flex flex-wrap w-1/4 justify-start" *ngIf="viewForm || editMode">
    <img class="left-arrow clickable" src="../../../assets/icons/left-arrow.svg" [routerLink]="['/therapist']">
    <h1 class="header-text">{{ therapist.firstName }} {{ therapist.lastName }}</h1>
  </div>
  <div *ngIf="viewForm" class="flex flex-row justify-between btn custom-btn-primary gap-1" (click)="editForm()">
    <div>
        <img class="edit-icon" src="../../../assets/icons/edit-icon.svg">
    </div>
    <div>
        <span class="">Edit therapist</span>
    </div>
  </div>
  <div *ngIf="editMode" class="flex flex-row bg-white justify-between btn btn-discard gap-1" [routerLink]="['/therapist']">
    Discard
  </div>
</div>

<div class="custom-card">
  <div class="card-body">
    <app-progress-bar [steppertitle1]="steppertitle1" [steppertitle2]="steppertitle2" [status]="gotonext"></app-progress-bar>

    <form #addTherapistForm="ngForm" (ngSubmit)="submit(addTherapistForm)">

      <div [hidden]="gotonext">
        <div class="flex flex-col flex-wrap md:gap-4 lg:gap-4 sm:gap-2">
          <div class="title-class">
            <label class="form-label required">Title</label>
            <select class="select select-sm title-select" name="title" [(ngModel)]="therapist.title" ngModel required [disabled]="viewForm">
                <option value="" disabled selected>Title</option>
                <option>Mr</option>
                <option>Ms</option>
                <option>Mrs</option>
            </select>
          </div>
          <div class="divider"></div>
          <div class="flex items-center justify-between flex-wrap md:gap-4 lg:gap-4 sm:gap-2">
            <div class="flex-auto">
              <label class="form-label required">First Name</label>
              <input class="input small-text" name="firstname" placeholder="Enter your firstname"
                [(ngModel)]="therapist.firstName" ngModel required [disabled]="viewForm" [disabled]="viewForm" />
            </div>
            <div class="flex-auto">
              <label class="form-label required">Last Name</label>
              <input class="input small-text" name="lastname" placeholder="Enter your lastname"
                [(ngModel)]="therapist.lastName" ngModel required [disabled]="viewForm" />
            </div>
            <div class="flex-auto">
              <label class="form-label required">E-mail ID</label>
              <input type="email" class="input small-text" name="email" placeholder="Enter your e-mail"
                [(ngModel)]="therapist.email" ngModel required [disabled]="viewForm" />
            </div>
            <div class="flex-auto">
              <label class="form-label required">Mobile Number</label>
              <input class="input small-text" name="mobile" placeholder="Enter your mobile number"
                [(ngModel)]="therapist.contactNo" ngModel required [disabled]="viewForm" />
            </div>
          </div>
          <div class="flex flex-row items-center justify-between md:gap-4 lg:gap-4 sm:gap-2">
            <div class="flex-auto w-1/2">
              <label class="form-label required">Qualifications</label>
              <select2 name="qualification" [data]="qualifications" [value]="therapist.qualification" multiple="true" (update)="updateQualification($event)" [disabled]="viewForm"> </select2>
            </div>
            <div class="flex-auto w-1/2">
              <label class="form-label required">Areas of Expertise</label>
              <select2 name="expertise" [data]="expertise" multiple="true" [value]="therapist.areaOfExpertise" (update)="updateExpertise($event)" [disabled]="viewForm"> </select2>
            </div>
            
            <!-- <div class="flex-auto">
              <label class="form-label required">Qualifications</label>
              <app-tags-input [list]="[]" [placeholder]="getPlaceholder('Qualifications')"
                (tags)="setQualifications($event)"></app-tags-input>
            </div>
            <div class="flex-auto">
              <label class="form-label required">Areas of Expertise</label>
              <app-tags-input [list]="[]" [placeholder]="getPlaceholder('Areas of Expertise')"
                (tags)="setAreasOfExpertise($event)"></app-tags-input>
            </div> -->
          </div>
          <div class="divider"></div>

          <div class="flex flex-row justify-between items-center md:gap-4 lg:gap-4 sm:gap-2">
            <div class="flex flex-col justify-between grow basis-1/2 md:gap-4 lg:gap-4 sm:gap-2">
              <div class="flex flex-row justify-between md:gap-4 lg:gap-4 sm:gap-2">
                <div class="grow">
                  <label class="form-label required">Years of Experience</label>
                  <input type="number" max="30" min="0" class="input small-text" name="experience"
                    placeholder="Enter your experience in years" [(ngModel)]="therapist.yearsOfExperience" ngModel required [disabled]="viewForm" />
                </div>
              </div>
              <div>
                <label class="form-label required">About Therapist</label>
                <textarea class="textarea" name="about" placeholder="Enter short description here"
                  [(ngModel)]="therapist.bio" ngModel required [disabled]="viewForm" maxlength="400"></textarea>
              </div>
            </div>
            <div class="vertical-separator"></div>
            <div class="grow basis-1/2 clickable" *ngIf="!therapist.picture || therapist.picture === 'default'" (click)="openFileExplorer()">
              <label class="form-label required">Upload Profile Picture</label>
              <div class="flex p-6 border-dashed rounded-md upload-pic">
                <img class="m-2 cursor-pointer" src="../../../assets/icons/upload-pic.svg">
                <div class="flex flex-col items-center">
                  <p *ngIf="!profilePicture">Browse to select file</p>
                  <p  *ngIf="!profilePicture" class="text-xs">Upload jpg/png Max 5MB*</p>
                  <p *ngIf="profilePicture">File upload successful</p>

                </div>
                <input [disabled]="!this.editMode" type="file"  accept="image/*" (change)="profilePictureUpdate($event)" #fileInput style="display:none">
              </div>
            </div>
            <img src="../../../assets/icons/delete-spoc.svg" *ngIf="this.editMode && therapist.picture !== 'default'"  (click)="dialogShow()"/>
            <img *ngIf="therapist.picture !== 'default'" class="md:w-1/4 sm:w-full w-full"   [src]="therapist.picture |secure|async">

          </div>
        </div>
      </div>
        
        <div [hidden]="!gotonext">
          
            <div class="divider divide"></div>
              <label class="label">Set Available Hours<span class="span-imp">*</span></label>
              <div class="flex flex-row items-center">
                <div class="flex flex-row w-1/5 justify-between">
                  <label class="form-label additional-label m-2">Monday</label>
                </div>
                <div class="flex flex-row my-1">
                  <input type="time" class="input small-text" name="monday-start" placeholder="Start timing" [(ngModel)]="availability[0].slot1Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="monday-end" placeholder="End timing" [(ngModel)]="availability[0].slot1End" [disabled]="viewForm"/>
                  <img *ngIf="!availability[0].ifSlot2" src="../../../assets/icons/plus.svg" class="mx-4 cursor-pointer" (click)="add('monday')">
                </div>
                <div *ngIf="availability[0].ifSlot2" class="flex flex-row ml-12 my-1">
                  <input type="time" class="input small-text" name="monday2-start" placeholder="Start timing" [(ngModel)]="availability[0].slot2Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="monday2-end" placeholder="End timing" [(ngModel)]="availability[0].slot2End" [disabled]="viewForm"/>
                  <img src="../../../assets/icons/cross-icon.svg" class="mx-4 cursor-pointer" (click)="remove('monday')" >
                </div>
              </div>
              <div class="flex flex-row items-center">
                <div class="flex flex-row w-1/5 justify-between">
                  <label class="form-label additional-label m-2">Tuesday</label>
                </div>
                <div class="flex flex-row my-1">
                  <input type="time"class="input small-text" name="tuesday-start" placeholder="Start timing" [(ngModel)]="availability[1].slot1Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="tuesday-end" placeholder="End timing" [(ngModel)]="availability[1].slot1End" [disabled]="viewForm"/>
                  <img *ngIf="!availability[1].ifSlot2" src="../../../assets/icons/plus.svg" class="mx-4 cursor-pointer" (click)="add('tuesday')">
                </div>
                <div *ngIf="availability[1].ifSlot2" class="flex flex-row ml-12 my-1">
                  <input type="time"class="input small-text" name="tuesday2-start" placeholder="Start timing" [(ngModel)]="availability[1].slot2Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="tuesday2-end" placeholder="End timing" [(ngModel)]="availability[1].slot2End" [disabled]="viewForm"/>
                  <img src="../../../assets/icons/cross-icon.svg" class="mx-4 cursor-pointer" (click)="remove('tuesday')" >
                </div>
              </div>
              <div class="flex flex-row items-center">
                <div class="flex flex-row w-1/5 justify-between">
                  <label class="form-label additional-label m-2">Wednesday</label>
                </div>
                <div class="flex flex-row my-1">
                  <input type="time"class="input small-text" name="wednesday-start" placeholder="Start timing" [(ngModel)]="availability[2].slot1Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="wednesday-end" placeholder="End timing" [(ngModel)]="availability[2].slot1End" [disabled]="viewForm"/>
                  <img *ngIf="!availability[2].ifSlot2" src="../../../assets/icons/plus.svg" class="mx-4 cursor-pointer" (click)="add('wednesday')">
                </div>
                <div *ngIf="availability[2].ifSlot2" class="flex flex-row ml-12 my-1">
                  <input type="time"class="input small-text" name="wednesday2-end" placeholder="Start timing" [(ngModel)]="availability[2].slot2Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="wednesday2-end" placeholder="End timing" [(ngModel)]="availability[2].slot2End" [disabled]="viewForm"/>
                  <img src="../../../assets/icons/cross-icon.svg" class="mx-4 cursor-pointer" (click)="remove('wednesday')" >
                </div>
              </div>
              <div class="flex flex-row items-center">
                <div class="flex flex-row w-1/5 justify-between">
                  <label class="form-label additional-label m-2">Thursday</label>
                </div>
                <div class="flex flex-row my-1">
                  <input type="time"class="input small-text" name="thursday-start" placeholder="Start timing" [(ngModel)]="availability[3].slot1Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="thursday-end" placeholder="End timing" [(ngModel)]="availability[3].slot1End" [disabled]="viewForm"/>
                  <img *ngIf="!availability[3].ifSlot2" src="../../../assets/icons/plus.svg" class="mx-4 cursor-pointer" (click)="add('thursday')">
                </div>
                <div *ngIf="availability[3].ifSlot2" class="flex flex-row ml-12 my-1">
                  <input type="time"class="input small-text" name="thursday2-start" placeholder="Start timing" [(ngModel)]="availability[3].slot2Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="thursday2-end" placeholder="End timing" [(ngModel)]="availability[3].slot2End" [disabled]="viewForm"/>
                  <img src="../../../assets/icons/cross-icon.svg" class="mx-4 cursor-pointer" (click)="remove('thursday')" >
                </div>
              </div>
              <div class="flex flex-row items-center">
                <div class="flex flex-row w-1/5 justify-between">
                  <label class="form-label additional-label m-2">Friday</label>
                </div>
                <div class="flex flex-row my-1">
                  <input type="time"class="input small-text" name="friday-start" placeholder="Start timing" [(ngModel)]="availability[4].slot1Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="friday-end" placeholder="End timing" [(ngModel)]="availability[4].slot1End" [disabled]="viewForm"/>
                  <img *ngIf="!availability[4].ifSlot2" src="../../../assets/icons/plus.svg" class="mx-4 cursor-pointer" (click)="add('friday')">
                </div>
                <div *ngIf="availability[4].ifSlot2" class="flex flex-row ml-12 my-1">
                  <input type="time"class="input small-text" name="friday2-start" placeholder="Start timing" [(ngModel)]="availability[4].slot2Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="friday2-end" placeholder="End timing" [(ngModel)]="availability[4].slot2End" [disabled]="viewForm"/>
                  <img src="../../../assets/icons/cross-icon.svg" class="mx-4 cursor-pointer" (click)="remove('friday')" >
                </div>
              </div>
              <div class="flex flex-row items-center">
                <div class="flex flex-row w-1/5 justify-between">
                  <label class="form-label additional-label m-2">Saturday</label>
                </div>
                <div class="flex flex-row my-1">
                  <input type="time"class="input small-text" name="saturday-start" placeholder="Start timing" [(ngModel)]="availability[5].slot1Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="saturday-end" placeholder="End timing" [(ngModel)]="availability[5].slot1End" [disabled]="viewForm"/>
                  <img *ngIf="!availability[5].ifSlot2" src="../../../assets/icons/plus.svg" class="mx-4 cursor-pointer" (click)="add('saturday')">
                </div>
                <div *ngIf="availability[5].ifSlot2" class="flex flex-row ml-12 my-1">
                  <input type="time"class="input small-text" name="saturday2-start" placeholder="Start timing" [(ngModel)]="availability[5].slot2Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="saturday2-end" placeholder="End timing" [(ngModel)]="availability[5].slot2End" [disabled]="viewForm"/>
                  <img src="../../../assets/icons/cross-icon.svg" class="mx-4 cursor-pointer" (click)="remove('saturday')" >
                </div>
              </div>
              <div class="flex flex-row items-center">
                <div class="flex flex-row w-1/5 justify-between">
                  <label class="form-label additional-label m-2">Sunday</label>
                </div>
                <div class="flex flex-row my-1">
                  <input type="time"class="input small-text" name="sunday-start" placeholder="Start timing" [(ngModel)]="availability[6].slot1Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="sunday-end" placeholder="End timing" [(ngModel)]="availability[6].slot1End" [disabled]="viewForm"/>
                  <img *ngIf="!availability[6].ifSlot2" src="../../../assets/icons/plus.svg" class="mx-4 cursor-pointer" (click)="add('sunday')">
                </div>
                <div *ngIf="availability[6].ifSlot2" class="flex flex-row ml-12 my-1">
                  <input type="time"class="input small-text" name="sunday2-start" placeholder="Start timing" [(ngModel)]="availability[6].slot2Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="sunday2-end" placeholder="End timing" [(ngModel)]="availability[6].slot2End" [disabled]="viewForm"/>
                  <img src="../../../assets/icons/cross-icon.svg" class="mx-4 cursor-pointer" (click)="remove('sunday')" >
                </div>
              </div>
              <div class="flex flex-row items-center">
                <div class="flex flex-row w-1/5 justify-between">
                  <label class="form-label additional-label m-2">Mon-Fri</label>
                </div>
                <div class="flex flex-row my-1">
                  <input type="time"class="input small-text" name="monfri-start" placeholder="Start timing" [(ngModel)]="extra[0].slot1Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="monfri-end" placeholder="End timing" [(ngModel)]="extra[0].slot1End" [disabled]="viewForm"/>
                  <img *ngIf="!extra[0].ifSlot2" src="../../../assets/icons/plus.svg" class="mx-4 cursor-pointer" (click)="add('monfri')">
                </div>
                <div *ngIf="extra[0].ifSlot2" class="flex flex-row ml-12 my-1">
                  <input type="time"class="input small-text" name="monfri2-start" placeholder="Start timing" [(ngModel)]="extra[0].slot2Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="monfri2-end" placeholder="End timing" [(ngModel)]="extra[0].slot2End" [disabled]="viewForm"/>
                  <img src="../../../assets/icons/cross-icon.svg" class="mx-4 cursor-pointer" (click)="remove('monfri')" >
                </div>
              </div>
              <div class="flex flex-row items-center">
                <div class="flex flex-row w-1/5 justify-between">
                  <label class="form-label additional-label m-2">All Days</label>
                </div>
                <div class="flex flex-row my-1">
                  <input type="time"class="input small-text" name="alldays-start" placeholder="Start timing" [(ngModel)]="extra[1].slot1Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="alldays-end" placeholder="End timing" [(ngModel)]="extra[1].slot1End" [disabled]="viewForm"/>
                  <img *ngIf="!extra[1].ifSlot2" src="../../../assets/icons/plus.svg" class="mx-4 cursor-pointer" (click)="add('alldays')">
                </div>
                <div *ngIf="extra[1].ifSlot2" class="flex flex-row ml-12 my-1">
                  <input type="time"class="input small-text" name="alldays2-start" placeholder="Start timing" [(ngModel)]="extra[1].slot2Start" [disabled]="viewForm"/>
                  <label class="form-label additional-label m-2">To</label>
                  <input type="time" class="input small-text" name="alldays2-end" placeholder="End timing" [(ngModel)]="extra[1].slot2End" [disabled]="viewForm"/>
                  <img src="../../../assets/icons/cross-icon.svg" class="mx-4 cursor-pointer" (click)="remove('alldays')" >
                </div>
              </div>

        <div class="flex flex-row items-center justify-between">
          <div class="flex flex-row w-1/4 justify-between">
            <label class="form-label m-2">Flexible With Timings</label>
            <input type="checkbox" class="switch switch-sm flex gap-3" (change)="flexible($event)" [(checked)]="therapist.isFlexibleWithTiming" [disabled]="viewForm" />
          </div>
          <div>
            <button type="button" class="btn btn-primary btn-block reset-button" (click)="reset()" [disabled]="viewForm">Reset All</button>
          </div>
        </div>

        <div class="divider"></div>


        <div class="flex flex-row w-1/4 mb-4 justify-between">
          <label class="form-label m-2">Therapist Available</label>
          <input type="checkbox" class="switch switch-sm flex gap-3" (change)="available($event)" [(checked)]="therapist.isAvailable" [disabled]="viewForm" />
        </div>

        <label class="form-label mb-4 required">Preferred Mode of Therapy</label>
        <div class="flex flex-row w-4/12 justify-between">
          <div class="flex flex-wrap cursor-pointer gap-4">
            <input type="checkbox" name="mode1" value="audio" class="checkbox checkbox-sm" [(checked)]="audio" ngModel [disabled]="viewForm" />
            <span class="checkbox-span">Audio Call</span>
          </div>
          <div class="flex flex-wrap cursor-pointer gap-4">
            <input type="checkbox" name="mode2" value="video" class="checkbox checkbox-sm" [(checked)]="video" ngModel [disabled]="viewForm" />
            <span class="checkbox-span">Video Call</span>
          </div>
          <div class="flex flex-wrap cursor-pointer gap-4">
            <input type="checkbox" name="mode3" value="chat" class="checkbox checkbox-sm" [(checked)]="chat" ngModel [disabled]="viewForm" />
            <span class="checkbox-span">Chat</span>
          </div>
        </div>
      </div>
      <div class="flex justify-end">
        <div *ngIf="editMode && gotonext && !isDisabled" class="flex justify-start w-11/12">
          <button type="button" class="btn btn-error previous" (click)="dialogShow()">Disable</button>
        </div>
        <div *ngIf="editMode && gotonext && isDisabled" class="flex justify-start w-11/12">
          <button type="button" class="btn btn-primary enable-button" (click)="dialogShow()">Enable</button>
        </div>
        <div *ngIf="isAlert && !isDisabled">
          <app-alert-box [alertHeader]="alertHeaderDisable" [alertBody]="alertBodyDisable" (closeAlert)="dialogShow()" (isDisable)="disableTherapist()"></app-alert-box>
        </div>
        <div *ngIf="isAlert && isDisabled">
          <app-alert-box [alertHeader]="alertHeaderEnable" [alertBody]="alertBodyEnable" (closeAlert)="dialogShow()" (isDisable)="enableTherapist()"></app-alert-box>
        </div>
        
           <div *ngIf="isAlert && isDisabled">
          <app-alert-box [alertHeader]="alertHeaderDeletePicture" [alertBody]="alertBodyDeletePicture" (closeAlert)="dialogShow()" (isDisable)="deletePicture(therapist.picture)" ></app-alert-box>
        </div>
        <button type="button" class="btn btn-primary btn-block" [disabled]="!gotonext"
          (click)="previous()">Previous</button>
        <button *ngIf="gotonext && !viewForm" class="btn btn-primary btn-block previous" [disabled]="!addTherapistForm.valid">Save
          and Submit</button>
        <button type="button" *ngIf="!gotonext && !viewForm" class="btn btn-primary btn-block previous" (click)="next()">Save and
          Continue</button>
        <button type="button" *ngIf="!gotonext && viewForm" class="btn btn-primary btn-block previous" (click)="next()">Next</button>
      </div>
    </form>
  </div>
</div>