<div class="container">
  <div class="section" *ngFor="let filter of filters; let i = index">
    <input class="input large" *ngIf="filter.textInput" placeholder="{{filter.label}}">
    <select class="dropdown dropdown-filter" *ngIf="filter.options">
      <option class="dropdown-item" selected>{{filter.label}}</option>
      <option class="dropdown-item" *ngFor="let option of filter.options; let j = index">{{option}}</option>
    </select>
  </div>
  <!-- <button class="custom-btn-primary">Filter</button> -->
</div>