@import 'src/styles/constants.scss';
.container {
  .section {
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    align-items: start;
    justify-content: center;

    .dropdown-filter {
      height: 50px;
    }
  }
}