<div class="flex flex-row flex-nowrap md:gap-3 items-center justify-between">
    <div class="flex flex-wrap w-1/4 justify-start">
      <img class="left-arrow clickable" src="../../../assets/icons/left-arrow.svg" [routerLink]="['/partner/managemember']">
      <h1 class="header-text">Upload New Content</h1>
    </div>
</div>

<div class="custom-card">
    <div class="card-body">
  
        <form #addContentForm="ngForm" (ngSubmit)="submit(addContentForm)">
                <div class="flex flex-col flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                    
                    <div class="flex items-center justify-between flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                        <div class="flex-auto">
                            <label class="form-label required">Pick Category</label>
                            <select class="select select-md title-select" name="category" ngModel required>
                                <option value="" disabled selected>Select here</option>
                                <!-- <option *ngFor="let option of noOfSubscriptions">
                                    {{option}}
                                </option> -->
                            </select>
                        </div>
                        <div class="flex-auto">
                            <label class="form-label required">Genre</label>
                            <input class="input small-text" name="genre" placeholder="Enter Genre" ngModel required/>
                        </div>
                        <div class="flex-auto">
                            <label class="form-label required">Emotion Purpose</label>
                            <input class="input small-text" name="emotion" placeholder="Enter emotion purpose" ngModel required/>
                        </div>
                    </div>
        
                    <div class="flex items-center justify-between flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                        <div class="flex-auto">
                            <label class="form-label required">Practice Name</label>
                            <input class="input small-text" name="practicename" placeholder="Enter Practice Name" ngModel required/>
                        </div>
                        <div class="flex-auto">
                            <div class="grow basis-1/2 clickable" (click)="openFileExplorer()">
                                <label class="form-label required">Upload Thumbnail</label>
                                <div class="flex p-6 border-dashed rounded-md upload-pic">
                                  <img class="m-2 cursor-pointer" src="../../../assets/icons/upload-pic.svg">
                                  <div class="flex flex-col items-center">
                                    <p>Browse to select file</p>
                                    <p class="text-xs">Upload jpg/png Max 5MB*</p>
                                  </div>
                                  <input type="file" #fileInput style="display:none">
                                </div>
                              </div>
                        </div>
                    </div>

                    <div class="divider"></div>

                    <div class="flex-auto w-1/4">
                        <label class="form-label required">No.of modules</label>
                        <input type="number" class="input small-text" name="modules" placeholder="Enter no. of modules" ngModel required/>
                    </div>

                    <div *ngFor="let item of modulesArray" class="flex items-center justify-between flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                        <div class="flex-auto">
                            <label class="form-label required">Module name</label>
                            <input class="input small-text" name="modulename" placeholder="Enter Module Name" ngModel required/>
                        </div>
                        <div class="flex-auto">
                            <div class="grow basis-1/2 clickable" (click)="openFileExplorer()">
                                <label class="form-label required">Upload File</label>
                                <div class="flex p-6 border-dashed rounded-md upload-pic">
                                  <img class="m-2 cursor-pointer" src="../../../assets/icons/upload-pic.svg">
                                  <div class="flex flex-col items-center">
                                    <p>Browse to select file</p>
                                    <p class="text-xs">Upload jpg/pdf Max 5MB*</p>
                                  </div>
                                  <input type="file" accept=".jpg, .png, .pdf" #fileInput style="display:none">
                                </div>
                              </div>
                        </div>
                    </div>

                </div>

            <div class="flex justify-between mt-8">
                <div class="flex justify-end w-full">
                    <button type="button" class="btn btn-primary btn-block enable-button" [routerLink]="['/partner']">Cancel</button>
                    <button class="btn btn-primary btn-bigger">Save Content</button>
                </div>
            </div>
        </form>
    </div>
  </div>