<div class="flex flex-row flex-nowrap md:gap-3 items-center justify-between">
    <div class="flex flex-wrap w-1/4 justify-start" *ngIf="!viewForm && !editMode">
        <img class="left-arrow clickable" src="../../../assets/icons/left-arrow.svg" [routerLink]="['/content']">
        <h1 class="header-text">Upload New Content</h1>
    </div>
    <div class="flex flex-wrap w-1/4 justify-start" *ngIf="viewForm || editMode">
        <img class="left-arrow clickable" src="../../../assets/icons/left-arrow.svg" [routerLink]="['/content']">
        <h1 class="header-text">{{ content.practiceName }}</h1>
      </div>
</div>

<div class="custom-card">
    <div class="card-body">

        <form #addContentForm="ngForm" (ngSubmit)="submit(addContentForm)">
            <div class="flex flex-col flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2 mb-4">

                <div *ngIf="viewForm || editMode" class="flex flex-row justify-end gap-2">
                    <div *ngIf="showDisable && !isDisabled" class="flex justify-end">
                        <button type="button" class="btn btn-error rounded-md"
                            (click)="dialogShow('fulldelete')">Delete</button>
                    </div>
                    <div *ngIf="isAlert && !isDisabled && totalDelete && !isReUpload">
                        <app-alert-box [alertHeader]="alertHeaderDisable" [alertBody]="alertBodyDisable"
                            (closeAlert)="dialogShow('fulldelete')" (isDisable)="deleteContent()"></app-alert-box>
                    </div>
                    <div *ngIf="viewForm"
                        class="flex items-center justify-end flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                        <div class="flex flex-row justify-between btn custom-btn-primary gap-1" (click)="editForm()">
                            <div>
                                <img class="add-icon" src="../../../assets/icons/add-icon.svg">
                            </div>
                            <div>
                                <span class="">Edit Content</span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="editMode" class="flex flex-row bg-white justify-between btn btn-discard gap-1"
                        [routerLink]="['/content']">
                        Discard
                    </div>
                </div>

            </div>
            <div class="flex flex-col flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">

                <div class="flex items-center justify-between flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                    <div class="flex-auto">
                        <label class="form-label required">Pick Category</label>
                        <select class="select select-md title-select" name="category" [(ngModel)]="content.category"
                            ngModel (change)="fetch()" [disabled]="viewForm" required>
                            <option value="" disabled selected>Select</option>
                            <option *ngFor="let option of categoryArray" [value]="option.category">
                                {{option.category}}
                            </option>
                        </select>
                    </div>
                    <div class="flex-auto">
                        <label class="form-label required">Genre</label>
                        <input class="input small-text" name="genre" [(ngModel)]="content.genre"
                            placeholder="Enter Genre" ngModel required disabled />
                    </div>
                    <div class="flex-auto">
                        <label class="form-label">Emotion Purpose</label>
                        <input class="input small-text" name="emotion" [(ngModel)]="content.emotion"
                            placeholder="Enter emotion purpose" ngModel disabled />
                    </div>
                    <div class="flex-auto">
                        <label class="form-label">Energy Purpose</label>
                        <input class="input small-text" name="energy" [(ngModel)]="content.energy"
                            placeholder="Enter energy purpose" ngModel disabled />
                    </div>
                </div>

                <div class="flex items-start justify-between flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                    <div class="flex-auto">
                        <label class="form-label">Instructors</label>
                        <select2 name="instructor" [data]="instructors" [value]="content.instructor" multiple="true" [disabled]="viewForm" (update)="updateInstructor($event)"> </select2>
                    </div>
                    <div class="flex-auto">
                        <label class="form-label required">Practice Name</label>
                        <app-input-with-icon [placeholder]="placeholder" [src]="icon" (inputString)="onKey($event)"
                            [isDisabled]="viewForm" [value]="content.practiceName"></app-input-with-icon>
                        <div *ngIf="isOriginal == false && clicked" class="flex justify-end gap-2 items-center">
                            <img src="../../../assets/icons/verify-cross.svg" />
                            <p>Already taken</p>
                        </div>
                        <div *ngIf="isOriginal && clicked" class="flex justify-end gap-2 items-center">
                            <img src="../../../assets/icons/verify-tick.svg" />
                            <p class="text-sm">Verified</p>
                        </div>
                    </div>
                    
                </div>

                <div class="flex items-start justify-between flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2 h-32">
                    <div class="flex-1">
                        <label class="form-label">Description</label>
                        <textarea class="textarea" name="about" placeholder="Enter short description here"
                        ngModel [(ngModel)]="content.about" [disabled]="viewForm" maxlength="400"></textarea>
                    </div>
                    <div *ngIf="isOriginal" class="flex-1">
                        <div class="grow basis-1/2 clickable"
                            (click)="!viewForm && openFileExplorer()">
                            <label class="form-label">Upload Thumbnail</label>
                            <div class="flex p-6 border-dashed rounded-md upload-pic gap-4">
                                <img *ngIf="!content.thumbnail" class="m-2 cursor-pointer" src="../../../assets/icons/upload-pic.svg">
                                <img *ngIf="content.thumbnail" class="md:w-1/12 sm:w-full w-full" [src]="content.thumbnail | secure | async">
                                <div class="flex flex-col items-center">
                                    <p *ngIf="!content.thumbnail">Browse to select file</p>
                                    <p *ngIf="content.thumbnail && !isUploaded">Re-Upload file</p>
                                    <p *ngIf="isUploaded && !isLarge">File upload successful</p>
                                    <p *ngIf="isUploaded && isLarge">File upload failed</p>
                                    <p *ngIf="!content.thumbnail" class="text-xs">Upload jpg/png Max 5MB*</p>
                                    <p *ngIf="(isUploaded && !isLarge) || content.thumbnail" class="text-xs">Click to re-upload</p>
                                    <p *ngIf="isUploaded && isLarge" class="text-xs">File size exceeded 5MB</p>
                                </div>
                                <input type="file" name="thumbnail" accept="image/*" (change)="uploadFile($event)" #fileInput style="display:none" ngModel>
                            </div>
                        </div>
                        <div *ngIf="isAlert && !isDisabled && !totalDelete && isReUpload">
                            <app-alert-box [alertHeader]="alertHeaderDisable" [alertBody]="alertBodyDisable"
                                (closeAlert)="closeAlert()"
                                (isDisable)="removeModule(0, content.thumbnail, 'thumbnail')"></app-alert-box>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="flex justify-between">
                    <label *ngIf="isOriginal" class="form-label required">Modules</label>
                    <div *ngIf="viewForm || editMode"
                        class="flex items-center justify-end flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                        <div [ngClass]="editMode ? 'flex flex-row justify-between btn custom-btn-primary gap-1' : 'flex flex-row justify-between btn custom-btn-primary gap-1 disabled'"
                            (click)="editMode && addModule()">
                            <div>
                                <img class="add-icon" src="../../../assets/icons/add-icon.svg">
                            </div>
                            <div>
                                <span class="">Add module</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- adding modules in add mode -->
                <div *ngIf="!viewForm && !editMode && isOriginal">
                    <div *ngFor="let item of content.module; index as index" class="flex w-full">
                        <div class="flex w-full justify-center items-start gap-2">
                            <div
                                class="flex flex-col flex-wrap md:gap-4 lg:gap-4 sm:gap-2 w-11/12 p-4 border-2 border-solid rounded-lg border-{#E8E8E8}">
                                <div class="flex items-center flex-wrap md:gap-4 lg:gap-4 sm:gap-2">
                                    <div class="flex flex-col gap-2 w-1/3">
                                        <div class="flex-auto">
                                            <label class="form-label required">Module Index</label>
                                            <input type="number" class="input small-text small" name="moduleid{{index}}"
                                                placeholder="Enter Module ID" [(ngModel)]="content.module[index].moduleId"
                                                ngModel [disabled]="viewForm" />
                                        </div>
                                        
                                        <div class="flex-auto">
                                            <label class="form-label required">Module name</label>
                                            <input class="input small-text" name="modulename{{index}}"
                                                placeholder="Enter Module Name"
                                                [(ngModel)]="content.module[index].moduleName" ngModel
                                                [disabled]="viewForm" />
                                        </div>
                                        
                                        <div class="flex gap-4">
                                            <input type="checkbox" name="modulemandatory{{index}}" class="checkbox checkbox-sm"
                                            [(ngModel)]="content.module[index].isMandatory" ngModel [disabled]="viewForm" />
                                            <span class="checkbox-span">Mark as mandatory</span>
                                        </div>
                                    </div>
                                    <div class="flex-auto">
                                        <div class="flex-auto">
                                            <label class="form-label required">Estimated Time (in Mins)</label>
                                            <input type="number" min="0" class="input small-text" name="moduletime{{index}}"
                                                placeholder="Enter Estimated Time" [(ngModel)]="content.module[index].estimatedTime" ngModel [disabled]="viewForm" />
                                        </div>
                                        <div class="grow basis-1/2 clickable" (click)="open(index)">
                                            <label class="form-label required">Upload File</label>
                                            <div class="flex p-6 border-dashed rounded-md upload-pic">
                                                <img class="m-2 cursor-pointer"
                                                    src="../../../assets/icons/upload-pic.svg">
                                                <div class="flex flex-col items-center">
                                                    <div *ngIf="!statusArray[index].isUploaded">
                                                        <p>Browse to select file</p>
                                                        <p class="text-xs">Upload jpg/png/pdf Max 5MB*</p>
                                                        <input type="file"
                                                            (change)="uploadModule($event, content.id, item.moduleId, index,item.uid)"
                                                            name="fileupload{{index}}" #moduleInput
                                                            [(ngModel)]="content.module[index].file"
                                                            style="display:none" ngModel required>
                                                        <!-- To disable submit until file url is obtained from backend -->
                                                        <input name="fileurl{{index}}" [(ngModel)]="content.module[index].url" ngModel required style="display:none"/>
                                                    </div>
                                                    <div
                                                        *ngIf="statusArray[index].isUploaded && !statusArray[index].isLarge">
                                                        <p>File upload successful</p>
                                                        <p class="text-xs">Click to re-upload</p>
                                                        <input type="file"
                                                            (change)="uploadModule($event, content.id, item.moduleId, index,item.uid)"
                                                            name="fileupload{{index}}" #moduleInput
                                                            [(ngModel)]="content.module[index].file"
                                                            style="display:none">
                                                    </div>
                                                    <div
                                                        *ngIf="statusArray[index].isUploaded && statusArray[index].isLarge">
                                                        <p>File upload failed</p>
                                                        <p class="text-xs">File size exceeded 5MB</p>
                                                        <input type="file"
                                                            (change)="uploadModule($event, content.id, item.moduleId, index,item.uid)"
                                                            name="fileupload{{index}}" #moduleInput
                                                            [(ngModel)]="content.module[index].file"
                                                            style="display:none">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <img class="cursor-pointer ml-1" src="../../../assets/icons/spoc-add.svg"
                                (click)="!viewForm && addModule()">
                            <img *ngIf="content.module.length > 1" class="cursor-pointer ml-1"
                                src="../../../assets/icons/delete-spoc.svg"
                                (click)="!viewForm && removeModule(index, content.module[index].url, module)">
                        </div>
                    </div>

                </div>

                <!-- adding new modules in edit mode -->
                <!-- <div class="flex" *ngIf="viewForm || editMode"> -->
                <div *ngFor="let item of module; index as index" class="flex w-full">
                    <div *ngIf="viewForm || editMode" class="flex flex-wrap w-full justify-center items-start gap-2">
                        <div
                            class="flex flex-col flex-wrap md:gap-4 lg:gap-4 sm:gap-2 w-11/12 p-4 border-2 border-solid rounded-lg border-{#E8E8E8}">
                            <div class="flex items-center flex-wrap md:gap-4 lg:gap-4 sm:gap-2">
                                <div class="flex flex-col gap-2 w-1/3">
                                    <div class="flex-auto">
                                        <label class="form-label required">Module Index</label>
                                        <input type="number" class="input small-text small" name="newmoduleid{{index}}"
                                            placeholder="Enter Module ID" [(ngModel)]="module[index].moduleId"
                                            (change)="updateModule($event, content.module[index].moduleId,index)" ngModel
                                            required [disabled]="viewForm" />
                                    </div>
                                    <div class="flex-auto">
                                        <label class="form-label required">Module name</label>
                                        <input class="input small-text" name="newmodulename{{index}}"
                                            placeholder="Enter Module Name" [(ngModel)]="module[index].moduleName" ngModel
                                            required [disabled]="viewForm" />
                                    </div>
                                    <div class="flex gap-4">
                                        <input type="checkbox" name="newmodulemandatory{{index}}" class="checkbox checkbox-sm"
                                        [(ngModel)]="module[index].isMandatory" ngModel [disabled]="viewForm" />
                                        <span class="checkbox-span">Mark as mandatory</span>
                                    </div>   
                                </div>
                                <div class="flex-auto">
                                    <div class="flex-auto">
                                        <label class="form-label required">Estimated Time (in Mins)</label>
                                        <input type="number" min="0" class="input small-text" name="newmoduletime{{index}}"
                                            placeholder="Enter Estimated Time" [(ngModel)]="module[index].estimatedTime" ngModel [disabled]="viewForm" />
                                    </div>
                                    <div class="grow basis-1/2 clickable" (click)="open(index)">
                                        <label class="form-label required">Upload File</label>
                                        <div class="flex p-6 border-dashed rounded-md upload-pic">
                                            <img class="m-2 cursor-pointer" src="../../../assets/icons/upload-pic.svg">
                                            <div class="flex flex-col items-center">
                                                <div *ngIf="!statusArray[index].isUploaded">
                                                    <p>Browse to select file</p>
                                                    <p class="text-xs">Upload jpg/png/pdf Max 5MB*</p>
                                                    <input type="file"
                                                        (change)="uploadModule($event, content.id, module[index].moduleId, index,item.uid)"
                                                        name="newfileupload{{index}}" #moduleInput
                                                        [(ngModel)]="module[index].file" style="display:none">
                                                    <!-- To disable submit until file url is obtained from backend -->
                                                    <input name="newfileurl{{index}}" [(ngModel)]="module[index].url" style="display:none" ngModel required/>
                                                </div>
                                                <div
                                                    *ngIf="statusArray[index].isUploaded && !statusArray[index].isLarge">
                                                    <p>File upload successful</p>
                                                    <p class="text-xs">Click to re-upload</p>
                                                    <input type="file"
                                                        (change)="uploadModule($event, content.id, module[index].moduleId, index,item.uid)"
                                                        name="fileupload{{index}}" #moduleInput
                                                        [(ngModel)]="module[index].file" style="display:none">
                                                </div>
                                                <div
                                                    *ngIf="statusArray[index].isUploaded && statusArray[index].isLarge">
                                                    <p>File upload failed</p>
                                                    <p class="text-xs">File size exceeded 5MB</p>
                                                    <input type="file"
                                                        (change)="uploadModule($event, content.id, module[index].moduleId, index,item.uid)"
                                                        name="fileupload{{index}}" #moduleInput
                                                        [(ngModel)]="module[index].file" style="display:none">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <img class="cursor-pointer ml-1" src="../../../assets/icons/delete-spoc.svg"
                            (click)="editMode && removeModule(index, module[index].url, 'module')">
                    </div>
                </div>

                <!-- modules from backend -->
                <div class="flex items-start justify-start flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2" *ngIf="viewForm || editMode">
                    <div *ngFor="let item of content.module; index as index" class="flex gap-2 items-start w-4/5">
                        <div class="flex flex-wrap md:gap-4 lg:gap-4 sm:gap-2 w-full p-2 border-2 border-solid rounded-lg border-{#E8E8E8}">
                            <div class="flex items-center flex-wrap md:gap-4 lg:gap-4 sm:gap-2" *ngIf="item?.url">
                                <div class="flex-auto">
                                    <video class="h-40" *ngIf="getFileType(item?.type) === 'video'" #videoPlayer [src]="(item?.url) | secure| async" controls></video>
                                    <audio class="h-40" *ngIf="getFileType(item?.type) === 'audio'" [src]="(item?.url) | secure| async" controls></audio>
                                    <img class="h-40" *ngIf="getFileType(item?.type)  === 'image'" [src]="(item?.url) | secure| async">
                                </div>
                            </div>
                            <div class="flex flex-col md:gap-4 lg:gap-4 sm:gap-2">
                                <div class="flex items-center flex-wrap md:gap-4 lg:gap-4 sm:gap-2">
                                    <div class="flex-auto">
                                        <label class="form-label required mt-1">Module Index</label>
                                        <input type="number" min="1" class="input small-text small" name="moduleid{{index}}"
                                            placeholder="Enter Module ID" [(ngModel)]="content.module[index].moduleId" ngModel
                                            [disabled]="viewForm" (change)="updateModule($event, content.module[index].moduleId,index)" />
                                    </div>
                                    <div class="flex-auto">
                                        <label class="form-label required mt-1">Module name</label>
                                        <input class="input small-text" name="modulename{{index}}" placeholder="Enter Module Name"
                                            [(ngModel)]="content.module[index].moduleName" ngModel [disabled]="viewForm" />
                                    </div>
                                </div>
                                <div class="flex items-center flex-wrap md:gap-4 lg:gap-4 sm:gap-2">
                                    <div class="flex-auto">
                                        <label class="form-label required mt-1">Estimated Time (in Mins)</label>
                                        <input class="input small-text" name="moduletime{{index}}" placeholder="Enter estimated time"
                                            [(ngModel)]="content.module[index].estimatedTime" ngModel [disabled]="viewForm" />
                                    </div>
                                    <div class="flex gap-4 justify-center">
                                        <input type="checkbox" name="modulemandatory{{index}}" class="checkbox checkbox-sm"
                                        [(ngModel)]="content.module[index].isMandatory" ngModel [disabled]="viewForm" />
                                        <span class="checkbox-span">Mark as mandatory</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="flex items-center flex-wrap md:gap-4 lg:gap-4 sm:gap-2">
                                <div class="flex-auto">
                                    <label class="form-label required mt-1">Module Index</label>
                                    <input type="number" min="1" class="input small-text small" name="moduleid{{index}}"
                                        placeholder="Enter Module ID" [(ngModel)]="content.module[index].moduleId" ngModel
                                        [disabled]="viewForm" (change)="updateModule($event, content.module[index].moduleId,index)" />
                                </div>
                                <div class="flex-auto">
                                    <label class="form-label required mt-1">Module name</label>
                                    <input class="input small-text" name="modulename{{index}}" placeholder="Enter Module Name"
                                        [(ngModel)]="content.module[index].moduleName" ngModel [disabled]="viewForm" />
                                </div>
                            </div>
                            <div class="flex items-center flex-wrap md:gap-4 lg:gap-4 sm:gap-2">
                                <div class="flex-auto">
                                    <label class="form-label required mt-1">Estimated Time (in Mins)</label>
                                    <input class="input small-text" name="moduletime{{index}}" placeholder="Enter estimated time"
                                        [(ngModel)]="content.module[index].estimatedTime" ngModel [disabled]="viewForm" />
                                </div>
                                <div class="flex-auto">
                                    <input type="checkbox" name="modulemandatory{{index}}" class="checkbox checkbox-sm"
                                    [(ngModel)]="content.module[index].isMandatory" ngModel [disabled]="viewForm" />
                                    <span class="checkbox-span">Mark as mandatory</span>
                                </div>
                            </div> -->
                        </div>
                        <img class="cursor-pointer ml-1" [hidden]="!this.editMode" src="../../../assets/icons/delete-spoc.svg" (click)=" removeModule(index, content.module[index].url, 'content')">
                    </div>
                </div>

            </div>

            <div class="flex justify-between mt-8">
                <div class="flex justify-end w-full">
                    <button type="button" class="btn btn-primary btn-block enable-button"
                        [routerLink]="['/content']">Cancel</button>
                    <!-- <button class="btn btn-primary btn-bigger" [disabled]="!isOriginal">Save Content</button> -->
                    <button class="btn btn-primary btn-bigger" [disabled]="!isOriginal || !addContentForm.valid">Save
                        Content</button>
                </div>
            </div>
        </form>
    </div>
</div>