$background-primary: #FFFFFF;
$background-secondary: #EFF3FD;
$background-tertiary: #F3F3FF;

$clr-text-primary: #192A3E;
$clr-text-secondary: #15154C;
$clr-text-tertiary: #333333;
$clr-text-quarternary: #ffffff;
$clr-text-header: #00140E;
$clr-text-sub-header: #5B5F7B;
$clr-text-input: #6F6F6F;

$clr-text-muted: #E8E8E8;
$clr-text-placeholder: #D2D2D2;
$clr-text-error: #EB5757;

$clr-bg-primary: #ffffff;
$clr-bg-secondary: linear-gradient(#ABA8DD, #55DFE0);

$border-separator: 1px solid #E4E7ED;

$clr-border-focussed: #5A55D2;
$clr-border-success: #219653;
$clr-border-error: #EB5757;
$clr-border-primary: #E8E8E8;
$clr-border-secondary: #c4c4c4;

$border-primary: 1px solid $clr-text-primary;
$border-secondary: 1px solid $clr-border-secondary;
$border-divider: 1px solid $background-secondary;

$border-radius-regular: 6px;
$border-radius-medium: 8px;
$border-radius-large: 10px;
$border-radius-xl: 16px;

$clr-btn-primary: #15154C; 
$clr-btn-secondary: #15154C; // TBD
$clr-btn-cancel: #E8E8E8;  // TBD
$clr-btn-disabled: #E8E8E8;  // TBD

// define fonts
$ft-family-primary: 'Poppins';
$ft-family-secondary: 'Poppins';    // TBD

$ft-thin: 100;
$ft-extralight: 200;
$ft-light: 300;
$ft-normal: 400;
$ft-medium: 500;
$ft-semi-bold: 600;
$ft-bold: 700;
$ft-extrabold: 800;

$ft-size-regular: 14px;
$ft-size-small: 12px;
$ft-size-xs: 10px;
$ft-size-large: 21px;
$ft-size-medium: 18px;


