<div class="flex flex-row flex-nowrap md:gap-3 items-center justify-between">
    <div class="flex flex-wrap w-1/4 justify-start" *ngIf="!viewForm && !editMode">
        <img class="left-arrow clickable" src="../../../assets/icons/left-arrow.svg" [routerLink]="['/partner']">
        <h1 class="header-text">Add Partner</h1>
    </div>
    <div class="flex flex-wrap w-1/4 justify-start" *ngIf="viewForm || editMode">
        <img class="left-arrow clickable" src="../../../assets/icons/left-arrow.svg" [routerLink]="['/partner']">
        <h1 class="header-text">{{ partner.companyName }}</h1>
    </div>
    <div class="flex gap-4 mb-4">
        <div *ngIf="showDisable && !isDisabled" class="flex justify-end">
            <button type="button" class="btn btn-error rounded-md" (click)="dialogShow()">Disable</button>
        </div>
        <div *ngIf="showDisable && isDisabled" class="flex justify-end">
            <button type="button" class="btn btn-success" (click)="dialogShow()">Enable</button>
        </div>
        <div *ngIf="isAlert && isSpocDelete">
            <app-alert-box [alertHeader]="alertHeaderDelete" [alertBody]="alertBodyDelete" (closeAlert)="dialogShow()"
                (isDisable)="spocAuthDelete()"></app-alert-box>
        </div>
        <div *ngIf="isAlert && !isDisabled && !isSpocDelete">
            <app-alert-box [alertHeader]="alertHeaderDisable" [alertBody]="alertBodyDisable" (closeAlert)="dialogShow()"
                (isDisable)="disablePartner()"></app-alert-box>
        </div>
        <div *ngIf="isAlert && isDisabled && !isSpocDelete">
            <app-alert-box [alertHeader]="alertHeaderEnable" [alertBody]="alertBodyEnable" (closeAlert)="dialogShow()"
                (isDisable)="enablePartner()"></app-alert-box>
        </div>
        <div *ngIf="viewForm" class="flex flex-row justify-between btn custom-btn-primary gap-1" (click)="editForm()">
            <div>
                <img class="edit-icon" src="../../../assets/icons/edit-icon.svg">
            </div>
            <div>
                <span class="">Edit Partner</span>
            </div>
        </div>
        <div *ngIf="editMode" class="flex flex-row bg-white justify-between btn btn-discard gap-1"
            [routerLink]="['/partner']">
            Discard
        </div>
    </div>

</div>

<div class="custom-card">
    <div class="card-body">
        <app-progress-bar [steppertitle1]="steppertitle1" [steppertitle2]="steppertitle2"
            [status]="gotonext"></app-progress-bar>

        <form #addCompanyForm="ngForm" (ngSubmit)="submit(addCompanyForm)">
            <div [hidden]="gotonext">
                <div class="flex flex-col flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">

                    <div class="flex items-center justify-between flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                        <div class="flex-auto">
                            <label class="form-label required">Partner Type</label>
                            <select [ngClass]="(isSubmit && partner.partnerType) || !isSubmit ? 'select select-sm title-select' : 'select select-sm title-select input-error'" name="partnertype"
                                [(ngModel)]="partner.partnerType" ngModel required [disabled]="viewForm">
                                <option value="" disabled selected>Select here</option>
                                <option value="corporate">Corporate</option>
                                <option value="institution">Institution</option>
                            </select>
                        </div>
                        <div class="flex-auto">
                            <label class="form-label required">Name of the Partner</label>
                            <input [ngClass]="(isSubmit && partner.companyName) || !isSubmit ? 'input small-text' : 'input small-text input-error'" name="companyname" placeholder="Enter Company Name"
                                [(ngModel)]="partner.companyName" ngModel required [disabled]="viewForm" />
                        </div>
                        <div class="flex-auto">
                            <label class="form-label">Partner Branch</label>
                            <input [ngClass]="(isSubmit && partner.companyBranch) || !isSubmit ? 'input small-text' : 'input small-text input-error'"  name="companybranch" placeholder="Enter Company Branch"
                                [(ngModel)]="partner.companyBranch" ngModel [disabled]="viewForm" />
                        </div>
                    </div>

                    <div class="flex items-center justify-between flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                        <div class="flex-auto">
                            <label class="form-label">Partner Sector</label>
                            <select class="select select-md title-select" name="companysector"
                                [(ngModel)]="partner.companySector" ngModel [disabled]="viewForm">
                                <option value="" disabled selected>Select here</option>
                                <option *ngFor="let option of partnerSector">
                                    {{option}}
                                </option>
                            </select>
                        </div>
                        <div class="flex-auto">
                            <label class="form-label required">Website Link</label>
                            <div class="flex flex-row">
                                <input [ngClass]="(isSubmit && partner.websiteLink) || !isSubmit ? 'input small-text' : 'input small-text input-error'" name="weblink" placeholder="Enter website link"
                                    [(ngModel)]="partner.websiteLink" ngModel required [disabled]="viewForm" />
                                <div class="btn btn-block link-button" (click)="redirect(partner.websiteLink)">
                                    <img src="../../../assets/icons/link.svg">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex items-center justify-between flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                        <div class="flex-auto">
                            <label class="form-label required">Partner Address</label>
                            <input [ngClass]="(isSubmit && partner.address) || !isSubmit ? 'input small-text' : 'input small-text input-error'" name="address" placeholder="Enter Company Address"
                                [(ngModel)]="partner.address" ngModel required [disabled]="viewForm" />
                        </div>
                        <div class="flex-auto">
                            <label class="form-label required">City</label>
                            <input [ngClass]="(isSubmit && partner.city) || !isSubmit ? 'input small-text' : 'input small-text input-error'" name="city" placeholder="Enter City"
                                [(ngModel)]="partner.city" ngModel required [disabled]="viewForm" />
                        </div>
                        <div class="flex-auto">
                            <label class="form-label required">State</label>
                            <input [ngClass]="(isSubmit && partner.state) || !isSubmit ? 'input small-text' : 'input small-text input-error'" name="state" placeholder="Enter State"
                                [(ngModel)]="partner.state" ngModel required [disabled]="viewForm" />
                        </div>
                    </div>

                    <div class="flex items-center justify-between flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                        <div class="flex-auto">
                            <label class="form-label">Year of Partner Incorporation</label>
                            <input class="input small-text" name="companyyear" placeholder="Enter year"
                                [(ngModel)]="partner.year" ngModel [disabled]="viewForm" />
                        </div>
                        <div class="flex-auto">
                            <label class="form-label">Total Strength</label>
                            <input type="number" class="input small-text" name="employeestrength"
                                placeholder="Enter employee strength" [(ngModel)]="partner.totalStrength" ngModel
                                [disabled]="viewForm" />
                        </div>
                    </div>

                    <div class="flex items-center justify-between flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                        <div class="flex-auto">
                            <label class="form-label mb-4">Nature of Ownership of the Partner</label>
                            <div class="flex flex-row gap-3 items-center">
                                <input type="radio" value="public" class="radio radio-sm" name="public" ngModel
                                    [(ngModel)]="partner.ownership" [disabled]="viewForm" /><span
                                    class="form-label">Public</span>
                                <input type="radio" value="private" class="radio radio-sm" name="private" ngModel
                                    [(ngModel)]="partner.ownership" [disabled]="viewForm" /><span
                                    class="form-label">Private</span>
                                <input type="radio" value="partnership" class="radio radio-sm" name="partnership"
                                    ngModel [(ngModel)]="partner.ownership" [disabled]="viewForm" /><span
                                    class="form-label">Partnership</span>
                                <input type="radio" value="ngo" class="radio radio-sm" name="ngo" ngModel
                                    [(ngModel)]="partner.ownership" [disabled]="viewForm" /><span
                                    class="form-label">NGO</span>
                            </div>
                        </div>
                        <div class="flex-auto">
                            <div class="flex flex-wrap cursor-pointer gap-4 mb-2">
                                <input type="checkbox" name="listed" class="checkbox checkbox-sm"
                                    [(ngModel)]="partner.isListed" ngModel [disabled]="viewForm" />
                                <span class="checkbox-span">Tick if the partner is listed</span>
                            </div>
                            <div class="flex flex-wrap cursor-pointer gap-4">
                                <input type="checkbox" name="profitable" class="checkbox checkbox-sm"
                                    [(ngModel)]="partner.isProfitable" ngModel [disabled]="viewForm" />
                                <span class="checkbox-span">Tick if the partner is profitable</span>
                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>

                    <div class="divider"></div>

                    <label class="form-label required">SPOC / Partner Login Details</label>
                    <div *ngFor="let item of spoc; index as index" class="flex w-full">
                        <div class="flex w-full justify-start items-start">
                            <div
                                class="flex flex-col flex-wrap md:gap-4 lg:gap-4 sm:gap-2 w-11/12 p-8 border-2 border-solid rounded-lg border-{#E8E8E8}">
                                <div *ngIf="index == 0" class="flex items-center flex-wrap md:gap-4 lg:gap-4 sm:gap-2">
                                    <!-- <div *ngIf="index == 0" class="flex items-center flex-wrap md:gap-4 lg:gap-4 sm:gap-2"> -->
                                        <div class="flex-auto">
                                            <label class="form-label required">SPOC Name</label>
                                            <input [ngClass]="(isSubmit && partner.spocDetails[0].name) || !isSubmit ? 'input small-text' : 'input small-text input-error'" name="spocname{{index}}"
                                                placeholder="Enter your firstname" [(ngModel)]="spoc[index].name" ngModel
                                                [required]="index == 0" [disabled]="viewForm" />
                                        </div>
                                        <div class="flex-auto">
                                            <label class="form-label required">E-mail ID</label>
                                            <input [ngClass]="(isSubmit && partner.spocDetails[0].email) || !isSubmit ? 'input small-text' : 'input small-text input-error'" name="email{{index}}"
                                                placeholder="Enter your e-mail" [(ngModel)]="spoc[index].email" ngModel
                                                [required]="index == 0" [disabled]="viewForm || partner.spocDetails[0].u_id" />
                                        </div>
                                        <div class="flex-auto">
                                            <label class="form-label required">Mobile Number</label>
                                            <input [ngClass]="(isSubmit && partner.spocDetails[0].mobile) || !isSubmit ? 'input small-text' : 'input small-text input-error'" name="mobile{{index}}"
                                                placeholder="Enter your mobile number" [(ngModel)]="spoc[index].mobile"
                                                ngModel [required]="index == 0" [disabled]="viewForm || partner.spocDetails[0].u_id" />
                                        </div>
                                </div>
                                    <!-- </div> -->
                                    <div *ngIf="index > 0" class="flex items-center flex-wrap md:gap-4 lg:gap-4 sm:gap-2">
                                        <div class="flex-auto">
                                            <label class="form-label required">SPOC Name</label>
                                            <input class="input small-text" name="spocname{{index}}"
                                                placeholder="Enter your firstname" [(ngModel)]="spoc[index].name" ngModel
                                                [required]="index == 0" [disabled]="viewForm" />
                                        </div>
                                        <div class="flex-auto">
                                            <label class="form-label required">E-mail ID</label>
                                            <input class="input small-text" name="email{{index}}"
                                                placeholder="Enter your e-mail" [(ngModel)]="spoc[index].email" ngModel
                                                [required]="index == 0" [disabled]="viewForm || spoc[index].u_id" />
                                        </div>
                                        <div class="flex-auto">
                                            <label class="form-label required">Mobile Number</label>
                                            <input class="input small-text" name="mobile{{index}}"
                                                placeholder="Enter your mobile number" [(ngModel)]="spoc[index].mobile"
                                                ngModel [required]="index == 0" [disabled]="viewForm || spoc[index].u_id" />
                                        </div>
                                    </div>
                                    
                                <!-- </div> -->
                                <div class="flex flex-wrap cursor-pointer gap-4">
                                    <input type="checkbox" name="isoperations{{index}}" class="checkbox checkbox-sm"
                                        [(ngModel)]="spoc[index].isOperations" ngModel [disabled]="viewForm" />
                                    <span class="checkbox-span">Operations SPOC</span>
                                </div>
                            </div>
                            <img src="../../../assets/icons/spoc-add.svg" class="cursor-pointer"
                                (click)="!viewForm && addSpoc()">
                            <img *ngIf="spoc.length > 1" class="cursor-pointer ml-1"
                                src="../../../assets/icons/delete-spoc.svg" (click)="!viewForm && removeSpoc(index)">
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-between mt-2">
                <button type="button" *ngIf="!gotonext" class="btn btn-primary btn-block enable-button"
                    [routerLink]="['/partner']">Cancel</button>
                <div class="flex justify-end w-full">
                    <button *ngIf="!gotonext && !viewForm && !editMode" class="btn btn-primary btn-block enable-button">Create and Close</button>
                    <button *ngIf="!gotonext && !viewForm && editMode"
                        class="btn btn-primary btn-block enable-button">Save partner</button>
                    <button type="button" *ngIf="!gotonext && !viewForm && !editMode" class="btn btn-primary btn-bigger" (click)="next(addCompanyForm)">Create Partner and Proceed to
                        Add Subscription</button>
                    <button type="button" *ngIf="!gotonext && !viewForm && editMode" class="btn btn-primary btn-bigger"
                        (click)="fetchSubscription()">Save and Go to Subscription details</button>
                    <button type="button" *ngIf="!gotonext && viewForm && !editMode" class="btn btn-primary btn-block"
                        (click)="fetchSubscription()">Next</button>
                </div>
            </div>
        </form>

        <form #addSubscriptionForm="ngForm" (ngSubmit)="submitAndSubscribe(addSubscriptionForm)">
            <div [hidden]="!gotonext">
                <div class="flex flex-col flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                    <div class="flex items-center justify-between flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                        <div class="flex-auto">
                            <label class="form-label required">Number of Subscriptions</label>
                            <select [ngClass]="(isSubmit && subscription.noOfSubscriptions) || !isSubmit ? 'select select-md title-select' : 'select select-md title-select input-error'" name="subscriptionsnum"
                                [(ngModel)]="subscription.noOfSubscriptions" ngModel required [disabled]="viewForm">
                                <option value="" disabled selected>Select here</option>
                                <option *ngFor="let option of noOfSubscriptions">
                                    {{option}}
                                </option>
                            </select>
                        </div>
                        <div class="flex-auto">
                            <label class="form-label required">Number of Therapy Sessions</label>
                            <input type="number" [ngClass]="(isSubmit && subscription.noOfTherapySessions) || !isSubmit ? 'input small-text' : 'input small-text input-error'" name="sessionsnum"
                                placeholder="Enter no. of therapy sessions"
                                [(ngModel)]="subscription.noOfTherapySessions" ngModel required [disabled]="viewForm" />
                        </div>
                        <div class="flex-auto">
                            <label class="form-label required">Plan Duration(months)</label>
                            <!-- <input type="number" class="input small-text" min="3" max="36" step="3" name="planduration"
                                placeholder="Enter duration" (change)="setEndDate()"
                                [(ngModel)]="subscription.planDuration" ngModel required [disabled]="viewForm" /> -->
                            <select [ngClass]="(isSubmit && subscription.planDuration) || !isSubmit ? 'select select-md title-select' : 'select select-md title-select input-error'" name="planduration" (change)="setEndDate()"
                                [(ngModel)]="subscription.planDuration" ngModel required [disabled]="viewForm">
                                <option value="" selected>Select here</option>
                                <option *ngFor="let option of planDuration">
                                    {{option}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="flex items-center justify-between flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                        <div class="flex-auto">
                            <label class="form-label required">Subscription Start Date</label>
                            <div
                                class="flex flex-row justify-between gap-1 px-1 border rounded-md border-solid border-{#c4c4c4}">
                                <!-- <input class="input small-text noborder" placeholder="DD / MM / YYYY" [(ngModel)]="partner.startDate" disabled/> -->
                                <ngx-datepicker name="startdate" [(ngModel)]="subscription.subscriptionStart"
                                    [options]="options" (click)="setEndDate()" ngModel required
                                    [disabled]="true"></ngx-datepicker>
                                <!-- <img class="calendar-icon" src="../../../assets/icons/calendar.svg"> -->
                            </div>
                        </div>
                        <div class="flex-auto">
                            <label class="form-label required">Subscription End Date</label>
                            <div
                                class="flex flex-row justify-between gap-1 px-1 border rounded-md border-solid border-{#c4c4c4}">
                                <input class="input small-text noborder" name="enddate" placeholder="DD / MM / YYYY"
                                    [(ngModel)]="subscription.subscriptionEnd" ngModel disabled />
                                <img class="calendar-icon" src="../../../assets/icons/calendar.svg">
                            </div>
                        </div>
                        <!-- <div class="flex-auto">
                            <label class="form-label required">Subscription End Date</label>
                            <input type="date" class="input small-text" name="enddate" placeholder="DD / MM / YYYY" [(ngModel)]="partner.endDate" ngModel disabled/>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="flex justify-end mt-2">
                <button *ngIf="gotonext && !viewForm" type="button" class="btn btn-primary btn-block enable-button"
                    (click)="previous()">Previous</button>
                <button *ngIf="gotonext && !viewForm" class="btn btn-primary btn-block">Save Details</button>
                <button type="button" *ngIf="gotonext && viewForm" class="btn btn-primary btn-block"
                    (click)="previous()">Previous</button>
            </div>

        </form>

    </div>
</div>