<div class="therapist-flexbox">
    <img class="left-arrow" src="../../../assets/icons/left-arrow.svg">
    <h1 class="header-text">Manage Therapist</h1>
    <img class="separator" src="../../../assets/icons/separator.svg">
    <h1 class="sub-header-text">{{count}} Therapists</h1>
    <app-search></app-search>
    <div class="inputwithicon button">
    <img class="add-icon" src="../../../assets/icons/add-icon.svg">
    <button class="btn btn-primary btn-block">Add new therapist</button>
    </div>
</div>
<app-table [fields]="fields"></app-table>
