<div class="flex flex-row justify-between items-center mb-3">
    <div class="flex flex-row md:gap-3 items-center">
        <div class="flex flex-row flex-nowrap md:gap-3 items-center">
            <img class="left-arrow clickable" src="../../../assets/icons/left-arrow.svg">
            <h1 class="header-text md:break-keep">Manage Content</h1>
        </div>
        <div>
            <img class="separator" src="../../../assets/icons/separator.svg">
        </div>
        <div>
            <h1 class="sub-header-text">{{totalCount}} Content</h1>
        </div>
    </div>
    
    <div class="flex flex-row justify-between btn custom-btn-primary gap-1" [routerLink]="['/content/add']">
        <div>
            <img class="add-icon" src="../../../assets/icons/add-icon.svg">
        </div>
        <div>
            <span class="">Upload New Content</span>
        </div>
    </div>
</div>
<div class="custom-card">
    <div class="card-body">
        <div class="flex flex-col flex-wrap justify-end md:gap-4 lg:gap-4 sm:gap-2 gap-2">
            <div class="flex items-center justify-center flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                <div class="flex-auto">
                    <!-- <label class="form-label required">Pick Category</label> -->
                    <select class="select select-md title-select" name="category" [(ngModel)]="category"
                        ngModel (change)="fetch()" required>
                        <option value="" disabled selected>Select Category</option>
                        <option *ngFor="let option of categoryArray" [value]="option.category">
                            {{option.category}}
                        </option>
                    </select>
                </div>
                <div class="flex-auto">
                    <!-- <label class="form-label required">Genre</label> -->
                    <input class="input small-text" name="genre" [(ngModel)]="genre"
                        placeholder="Enter Genre" ngModel required disabled />
                </div>
                <div class="flex-auto">
                    <!-- <label class="form-label required">Practice Name</label> -->
                    <input class="input small-text" name="name" [(ngModel)]="practiceName"
                        placeholder="Enter Practice Name" ngModel required />
                </div>
                <div class="flex-auto items-end">
                    <button class="btn btn-primary btn-bigger">Filter</button>
                </div>
            </div>

            <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" class="flex items-center justify-center flex-wrap md:gap-10 lg:gap-10 sm:gap-2 gap-2">
                <div *ngFor="let item of [1,2,3,4]" class="card card-image-cover sm:w-1/2 md: w-1/2 lg:w-1/5 xl:w-1/5 2xl:w-1/5">
                    <img src="../../../assets/icons/dummy.svg" alt="" />
                    <!-- <img class="w-4" src="../../../assets/icons/play-button.svg" alt="" /> -->
                    <div class="card-body">
                        <p class="text-content2">Emotion management</p>
                        <div class="flex justify-between">
                            <img src="../../../assets/icons/rating-stars.svg">
                            <div class="flex gap-2">
                                <img src="../../../assets/icons/delete-content.svg">
                                <img src="../../../assets/icons/edit-content.svg"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>