<div class="flex flex-row justify-between items-center mb-3">
    <div class="flex flex-row md:gap-3 items-center">
        <div class="flex flex-row flex-nowrap md:gap-3 items-center">
            <img class="left-arrow clickable" src="../../../assets/icons/left-arrow.svg">
            <h1 class="header-text md:break-keep">Manage Content</h1>
        </div>
        <div>
            <img class="separator" src="../../../assets/icons/separator.svg">
        </div>
        <div>
            <h1 class="sub-header-text">{{totalCount}} Content</h1>
        </div>
    </div>
    
    <div class="flex flex-row justify-between btn custom-btn-primary gap-1" [routerLink]="['/content/add']">
        <div>
            <img class="add-icon" src="../../../assets/icons/add-icon.svg">
        </div>
        <div>
            <span class="">Upload New Content</span>
        </div>
    </div>
</div>
<div class="custom-card">
    <div class="card-body">
        <div class="flex flex-col flex-wrap justify-end md:gap-4 lg:gap-4 sm:gap-2 gap-2">
            <div class="flex items-center justify-center flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                <div class="flex-auto">
                    <select class="select select-md title-select" name="genre" [(ngModel)]="genre" (change)="fetch()" ngModel>
                        <option value="" disabled selected>Select Genre</option>
                        <option *ngFor="let option of genreArray" [value]="option.id">
                            {{option.genre}}
                        </option>
                    </select>
                </div>
                <div class="flex-auto">
                    <select class="select select-md title-select" name="category" [(ngModel)]="category" ngModel>
                        <option value="" disabled selected>Select Category</option>
                        <option *ngFor="let option of categoryArray" [value]="option.id">
                            {{option.category}}
                        </option>
                    </select>
                </div>
                <div class="flex-auto">
                    <input class="input small-text" name="name" [(ngModel)]="practiceName"
                        placeholder="Enter Practice Name" ngModel required />
                </div>
                <div class="flex-auto items-end">
                    <button class="btn btn-primary btn-bigger" (click)="filter()">Filter</button>
                </div>
            </div>

            <!-- <div class="flex items-center justify-center flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                
            </div> -->
            <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" class="flex items-center justify-start flex-wrap md:gap-4 lg:gap-4 sm:gap-2 gap-2">
                <div *ngFor="let data of contentData" class="card card-image-cover sm:w-1/2 md: w-1/2 lg:w-1/5 xl:w-1/5 2xl:w-1/5">
                    <img [src]="data.thumbnail | secure | async" alt="thumbnail" />
                    <div class="card-body">
                        <p class="text-content2">{{data.practiceName}}</p>
                        <div class="flex justify-between">
                            <img src="../../../assets/icons/rating-stars.svg">
                            <div class="flex gap-2">
                                <img class="cursor-pointer" src="../../../assets/icons/delete-content.svg">
                                <img class="cursor-pointer" src="../../../assets/icons/edit-content.svg" [routerLink]="['/content/edit/', data.id]"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>