<div class="flex flex-row justify-between items-center mb-3">
    <div class="flex flex-row md:gap-3 items-center">
        <div class="flex flex-row flex-nowrap md:gap-3 items-center">
            <img class="left-arrow clickable" src="../../../assets/icons/left-arrow.svg" [routerLink]="['/partner']">
            <h1 class="header-text md:break-keep">Manage Listeners</h1>
        </div>
        <div>
            <img class="separator" src="../../../assets/icons/separator.svg">
        </div>
        <div>
            <h1 class="sub-header-text">{{totalCount}} Listeners</h1>
        </div>
        <div>
            <img class="separator" src="../../../assets/icons/separator.svg">
        </div>
        <div>
            <h1 class="sub-header-text">{{activeCount}} Active Listeners</h1>
        </div>
    </div>

    <!-- <div>
        <app-search></app-search>
    </div> -->
    <div class="flex flex-row justify-between btn custom-btn-primary gap-1"
        [routerLink]="['/listener/add']">
        <div>
            <img class="add-icon" src="../../../assets/icons/add-icon.svg">
        </div>
        <div>
            <span class="">Add Listener</span>
        </div>
    </div>
</div>

<div class="flex flex-row justify-between visible md:visible mb-3">
    <div class="flex flex-row justify-between gap-2">
        <div class=" info-section flex-1 p-2">
            <div class="flex flex-row justify-between items-center">
                <div class="flex flex-col">
                    <div class="large-text">{{ listenerCount.totalChats }}</div>
                    <div class="xs-text">Total Chats</div>
                </div>
                <div><img src="../../../assets/icons/message-icon.svg"></div>
            </div>
        </div>
        <div class="info-section flex-1 p-2">
            <div class="flex flex-row justify-between items-center">
                <div class="flex flex-col">
                    <div class="large-text">{{ listenerCount.totalMins }}</div>
                    <div class="xs-text">Total Minutes</div>
                </div>
                <div><img src="../../../assets/icons/clock-icon.svg"></div>
            </div>
        </div>
        <div class="info-section flex-1 p-2">
            <div class="flex flex-row justify-between items-center">
                <div class="flex flex-col">
                    <div class="large-text">{{ listenerCount.totalUsers }}</div>
                    <div class="xs-text">Total Users</div>
                </div>
                <div><img src="../../../assets/icons/members-icon.svg"></div>
            </div>
        </div>
        <div class="info-section flex-1 p-2">
            <div class="flex flex-row justify-between items-center">
                <div class="flex flex-col">
                    <div class="large-text">{{ listenerCount.totalListeners }}</div>
                    <div class="xs-text">Total Listeners</div>
                </div>
                <div><img src="../../../assets/icons/listener-icon.svg"></div>
            </div>
        </div>
    </div>
</div>

<app-table [fields]="fields" [actionField]="actionField" [data]="tableData" (call)="call($event)" (scroll)="onScroll()"></app-table>