// /* You can add global styles to this file, and also import other style files */
@tailwind base; //dark theme
@tailwind utilities;
@tailwind components;

@import 'src/styles/constants.scss';
@layer base {
    html {
        font-family: $ft-family-primary !important;
    }
}

html, body {
    overflow: auto;
    min-height: 100vh;
}

body {
    // background: $clr-bg-secondary;
    background: $background-primary;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
}

thead {
    tr {
        background-color: $background-secondary;
        th {
            font-size: $ft-size-small;
            font-weight: $ft-semi-bold;
        }
    }
}

tbody {
    td {
        font-size: $ft-size-small;
        font-weight: $ft-semi-bold;
    }
    tr:nth-child(even) {
        background-color: $background-tertiary;
    }
}

.header {
    background-color: $background-primary;
    font-size: $ft-size-regular;
    font-weight: $ft-medium;
}

.header-text {
    background-color: $background-primary;
    font-size: $ft-size-large;
    font-weight: $ft-bold;
}

.content {
    background-color: $background-secondary;
}

.menu {
    background-color: $background-primary;  
    .selected-item {
        background-color: $background-secondary;
    }
}

.container {
    height: 100vh;
}

.custom-card {
    background: $clr-bg-primary;
    border-radius: 16px;
    width: 80%;
    height: 80%;
}

.btn-link {
    color: $clr-text-primary;
}

.custom-btn-primary {
    background: $clr-btn-primary;
    border: none;
    color: $clr-text-tertiary;
    text-align: center;
    font-size: $ft-size-regular;
    cursor: pointer;
    border-radius: 6px;
}

.instruction {
    font-size: $ft-size-regular;
    font-weight: $ft-medium;
    color: $clr-text-primary;
    &.small {
        font-size: $ft-size-small;
    }
    &.light {
        color: $clr-text-secondary;
    }
    &.center {
        text-align: center;
    }
}

.vertical-separator {
    border-right: $border-separator
}

.horizontal-separator {
    border-bottom: $border-separator
}

.no-border {
    border: none;
}

::placeholder {
    color: $clr-text-placeholder;
    font-size: $ft-size-regular;
    font-weight: $ft-light;
}

.input {
    border: $border-secondary;
    max-width: 100%;
    border-radius: 6px !important;

    &.small-text {
        font-size: $ft-size-small;
    }

    &.center {
        text-align: center;
    }
}

.focussed:focus {
    border-color: $clr-border-focussed !important;
}

.input-focussed {
    border-color: $clr-border-focussed;
}

.input-error {
    border-color: $clr-border-error;
}

.input-success {
    border-color: $clr-border-success;
}

.form-label {
    font-size: $ft-size-small;
    font-weight: $ft-medium;
}

.text-q { 
    color: $clr-text-quarternary;
}

.inputwithicon {
    display: flex;
    align-items: center;
    border-radius: 6px;
    border: 2px solid #E8E8E8;
    justify-content: space-between;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
}

.inputwithicon .input {
    border: transparent;
    background: transparent;
    margin-left: 0rem;
}

.pass-require {
    margin: 1rem;
}

.card .mini {
    position: absolute;
    height: 20%;
    width: 17%;
    background: #F9F9F9;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 5.7rem;
    margin-top: 8px;
    z-index: 9999;
}

.card p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.card li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #6F6F6F;
    margin-left: 0.5rem;
    margin-top: 4px;
}

  
//   .email-label {
//       margin-top: 5rem;
//   }
  
//   .container {
//       margin-top: 2rem;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       height: 90vh;
//   }
  
//   .otptimer {
//       display: flex;
//       justify-content: center;
//       align-items: center;
//   }
  
//   .card-body {
//     flex: 0 0 auto; 
//   }
  
//   .card {
//       height: 80%;
//       max-width: 60rem;
//       background-color: white;
//   }
  
//   .card img {
//     height: 80%;
//     margin-top: 3rem;
//     width: 40%;
//     margin-left: 2rem;
//   }
  
//   .username {
//       margin-bottom: 1rem;
//   }
  
  
//   .btn-block {
//       background: #15154C;
//       margin-left: 2rem;
//       margin-top: 1rem;
//       width: 91%;
//   }
  
//   .timer {
//       margin-top: 1rem;
//       margin-left: 0.2rem;
//       font-family: 'Poppins';
//       font-style: normal;
//       font-weight: 400;
//       font-size: 12px;
//       color: #15154C;
//   }
  
//   .a {
//       font-family: 'Poppins';
//       font-style: normal;
//       font-weight: 400;
//       font-size: 12px;
//       line-height: 18px;
//       display: flex;
//       letter-spacing: 0.5px;
//       color: #15154C;
//       margin-left: 16rem;
//       margin-top: 2px;
//   }
  
//   .signup {
//       margin-left: 8rem;
//       margin-top: 1rem;
//       margin-right: 10px;
//   }
  
//   .nootp {
//       margin-left: 2rem;
//       margin-top: 1rem;
//       margin-right: 10px;
//   }
  
//   .mt-4 {
//       max-width: 351.91px;
//   }
  
//   .mt-4 img {
//       height: 10%;
//       width: 40%;
//       display: block;
//       margin: 0 7rem;
//       margin-top: 3rem;
//   }
  
//   .mt-4 h1 {
//       font-family: 'Poppins';
//       font-style: normal;
//       font-weight: 700;
//       font-size: 20px;
//       line-height: 22px;
//       display: flex;
//       align-items: center;
//       letter-spacing: 0.7px;
//       color: #15154C;
//       text-align: center;
//       margin-left: 10.5rem;
//       margin-top: 1rem;
//       margin-bottom: 2rem;
//   }
  
//   .divider-vertical {
//       height: 80%;
//       margin: 1rem;
//       width:0%;
//       margin-top: 3rem;
//       margin-left: 3rem;
//       margin-right: 2.5rem;
//   }
  
//   .divider {
//       border: 1px solid #AAA9DD;
//       display: block;
//   }
  
//   .mt-4 label {
//       font-family: 'Poppins';
//       font-style: normal;
//       font-weight: 700;
//       line-height: 18px;
//       display: flex;
//       align-items: center;
//       letter-spacing: 0.5px;
//       color: #15154C;
//       flex: none;
//       order: 0;
//       align-self: stretch;
//       flex-grow: 0;
//       margin-bottom: 3px;
//       margin-left: 2rem;
//   }
  
//   .mt-4 input {
//       background-color: white;
//       border-color: rgb(232, 232, 232);
//       color: black;
//       margin-left: 2rem;
//       border-radius: 6px;
//       font-family: 'Poppins';
//       font-style: normal;
//       font-weight: 500;
//       font-size: 17px;
//   }
  
//   .mt-4 input::placeholder {
//     color: rgb(232, 232, 232);
//   }
  
//   .mt-4 input:focus {
//     border: 1px solid blue;
//     outline: none; /* This removes the default blue outline */
//   }

//   .mt-4 .set-pass{
//     font-size: 17px;
//     margin-left: 10rem;
// }
 
// .mt-4 span {
//     border: #15154C;
//     color: #15154C;
// }

// .mt-4 i {
//     color: #15154C;
//     margin-left: -30px;
//     cursor: pointer;
// }

.table {
    height: 50%;
    width: 50%;
    background: white;
    color: black !important;
    border-radius: 8px;
    margin: 1rem;
}

.b1 {
    background: #FFFFFF;
}

.table>tbody>tr {
    border-radius: 8px;
}

.table>thead>tr {
    border-radius: 8px;
}

.table.table-zebra>tbody>tr:nth-child(2n)>td {
    background: #F3F3FF;
}

.table>thead>tr>th {
    background: #E1E1FD;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #15154C;
    border-color: transparent;
    text-align: center;
}

.table>tbody>tr>td {
    border-color: transparent;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #192A3E;
    text-align: center;
}

.table>thead>tr :not(.th:first-child,.th:last-child) {
    border-color: transparent;
}

.switch {
    --switch-bg: #E1E1FD;
    --switch-bg-hover: #E1E1FD;
    --circle-color: #FFFFFF;
    border-color: transparent;
    border-radius: 200px;
    border-width: 0px;
    --switch-bg-checked: #219653;
}

.table-container {
    background-color: #FFFFFF;
    border-radius: 12px;
    width: 72%;
    margin: 2rem;
}

.info {
    max-width: max-content;
}