.anyo-logo {
    width: 60%
}

.position-expanded{
    position: absolute;
    left: 12%;
    top: 5%;
}

// @media (max-width: 768px) {
//     .position-expanded{
//         position: absolute;
//         left: 5%;
//         top: 5%;
//     }
// }

.position-collapsed{
    position: absolute;
    left: 4%;
    top: 5%;
}