<nav class="menu bg-gray-2 p-4 rounded-md">
	<section class="menu-section">
		<div *ngIf="!isCollapsed" class="flex justify-center">
			<img src="../../../assets/images/logo.svg" alt="image" class="horizontal-separator mb-8 pb-2 w-3/5" [routerLink]="['/']">
		</div>
		<div *ngIf="isCollapsed" class="flex justify-center">
			<img src="../../../assets/icons/anyo-icon.svg" alt="image" class="horizontal-separator mb-8 pb-2" [routerLink]="['/']">
		</div>
		<div>   
			<img src="../../../assets/icons/collapse-icon.svg" [ngClass]="isCollapsed ? 'position-collapsed' : 'position-expanded'" (click)="collapse()"/>
		</div>
	
		<ul class="menu-items">
			<li class="menu-item" [routerLink]="['/']">
				<img src="../../../assets/icons/dashboard.svg">
				<span *ngIf="!isCollapsed">Dashboard</span>
			</li>
			<li>
				<input type="checkbox" id="menu-1" class="menu-toggle" />
				<label class="menu-item" for="menu-1">
					<img src="../../../assets/icons/therapist.svg">
					<span *ngIf="!isCollapsed">Therapist</span>
					<span *ngIf="!isCollapsed" class="menu-icon mr-0 ml-auto">
						<!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" class="w-4 h-4 stroke-content3">
							<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
						</svg> -->
						<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M13.844 10.0001C13.844 10.2135 13.7623 10.4268 13.5998 10.5893L10.2665 13.9226C9.94063 14.2485 9.41396 14.2485 9.08813 13.9226C8.76229 13.5968 8.76229 13.0701 9.08813 12.7443L11.8423 9.99012L9.19229 7.24595C8.87313 6.91345 8.88229 6.38762 9.21313 6.06762C9.54396 5.74762 10.0723 5.75678 10.3915 6.08762L13.6098 9.42095C13.7665 9.58345 13.844 9.79178 13.844 10.0001" fill="#333333"/>
						</svg>			
					</span>
				</label>
				<div class="menu-item-collapse">
					<div *ngIf="!isCollapsed" class="min-h-0">
						<label class="menu-item ml-6" [routerLink]="['/therapist']">Manage Therapists</label>
						<label class="menu-item ml-6">Manage Appointments</label>
					</div>
				</div>
			</li>
			<li>
				<input type="checkbox" id="menu-2" class="menu-toggle" />
				<label class="menu-item" for="menu-2">
					<img src="../../../assets/icons/listener.svg">
					<span *ngIf="!isCollapsed">Listeners</span>
					<span *ngIf="!isCollapsed" class="menu-icon mr-0 ml-auto">
						<!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" class="w-4 h-4 stroke-content3">
							<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
						</svg> -->
						<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M13.844 10.0001C13.844 10.2135 13.7623 10.4268 13.5998 10.5893L10.2665 13.9226C9.94063 14.2485 9.41396 14.2485 9.08813 13.9226C8.76229 13.5968 8.76229 13.0701 9.08813 12.7443L11.8423 9.99012L9.19229 7.24595C8.87313 6.91345 8.88229 6.38762 9.21313 6.06762C9.54396 5.74762 10.0723 5.75678 10.3915 6.08762L13.6098 9.42095C13.7665 9.58345 13.844 9.79178 13.844 10.0001" fill="#333333"/>
						</svg>			
					</span>
				</label>
				<div *ngIf="!isCollapsed" class="menu-item-collapse">
					<div class="min-h-0">
						<label class="menu-item ml-6">Manage Listeners</label>
						<label class="menu-item ml-6">Manage Appointments</label>
					</div>
				</div>
			</li>
			<li>
				<input type="checkbox" id="menu-3" class="menu-toggle" />
				<label class="menu-item" for="menu-3">
					<img src="../../../assets/icons/content.svg">
					<span *ngIf="!isCollapsed">Content Library</span>
					<span *ngIf="!isCollapsed" class="menu-icon mr-0 ml-auto">
						<!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" class="w-4 h-4 stroke-content3">
							<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
						</svg> -->
						<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M13.844 10.0001C13.844 10.2135 13.7623 10.4268 13.5998 10.5893L10.2665 13.9226C9.94063 14.2485 9.41396 14.2485 9.08813 13.9226C8.76229 13.5968 8.76229 13.0701 9.08813 12.7443L11.8423 9.99012L9.19229 7.24595C8.87313 6.91345 8.88229 6.38762 9.21313 6.06762C9.54396 5.74762 10.0723 5.75678 10.3915 6.08762L13.6098 9.42095C13.7665 9.58345 13.844 9.79178 13.844 10.0001" fill="#333333"/>
						</svg>			
					</span>
				</label>
				<div *ngIf="!isCollapsed" class="menu-item-collapse">
					<div class="min-h-0">
						<label class="menu-item ml-6">Manage Content</label>
					</div>
				</div>
			</li>
			<li>
				<input type="checkbox" id="menu-4" class="menu-toggle" />
				<label class="menu-item" for="menu-4">
					<img src="../../../assets/icons/corporate.svg">
					<span *ngIf="!isCollapsed">Corporates</span>
					<span *ngIf="!isCollapsed" class="menu-icon mr-0 ml-auto">
						<!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" class="w-4 h-4 stroke-content3">
							<path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
						</svg> -->
						<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M13.844 10.0001C13.844 10.2135 13.7623 10.4268 13.5998 10.5893L10.2665 13.9226C9.94063 14.2485 9.41396 14.2485 9.08813 13.9226C8.76229 13.5968 8.76229 13.0701 9.08813 12.7443L11.8423 9.99012L9.19229 7.24595C8.87313 6.91345 8.88229 6.38762 9.21313 6.06762C9.54396 5.74762 10.0723 5.75678 10.3915 6.08762L13.6098 9.42095C13.7665 9.58345 13.844 9.79178 13.844 10.0001" fill="#333333"/>
						</svg>			
					</span>
				</label>
				<div *ngIf="!isCollapsed" class="menu-item-collapse">
					<div class="min-h-0">
						<label class="menu-item ml-6">Manage Users</label>
					</div>
				</div>
			</li>
		</ul>
	</section>
</nav>