@import 'src/styles/constants.scss';
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 150px;
  gap: 20px;
  flex-wrap: wrap;

  .section {
    border-radius: 10px;
    padding: 20px;
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &.section1 {
      background-color: $clr-dashboard1;
    }

    &.section2 {
      background-color: $clr-dashboard2;
    }

    &.section3 {
      background-color: $clr-dashboard3;
    }

    &.section4 {
      background-color: $clr-dashboard4;
    }
  }
}