<div class="table-container">
    <div class="flex w-full overflow-x-auto">
        <table class="table-compact table-zebra table max-w-4xl">
            <thead>
                <tr>
                    <th *ngFor="let field of fields" class="b1">{{field}}</th>
                    <th colspan="2" class="b1">Actions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of data">
                    <td><img class="info" src="../../../assets/icons/default-user.svg"></td>
                    <td *ngFor="let d of row" class="b1">{{d}}</td>
                    <td><img class="img" src="../../../assets/icons/icon-eye-open.svg"></td>
                    <td><img class="img" src="../../../assets/icons/icon-eye-open.svg"></td>
                    <td><input type="checkbox" class="switch" /></td>
                </tr>
                
            </tbody>
        </table>
    </div>
    
